---
---

<button id="key-import-string">IMPORT KEYS FROM STRING</button>
<button id="key-import-qr">IMPORT KEYS FROM QR</button>
<br />
<br />
<textarea cols="40" rows="5" id="key-input-string" hidden></textarea>
<br />
<div id="key-parse"></div>
